*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 800px; // to contain the contect
    margin: auto; // to center it
}
section{
    margin-bottom: 100px;
}
select{
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
}
option{
    color: black;
}
// Resets
li{
    list-style: none;
}
a{
    color:black;
    text-decoration: none;
}
