.services{
    .services-details{
        display: flex;
        gap: 10px;
        font-size: 12px;
        text-align: left;
    }
    margin-bottom: 100px;
    .services-cards{
        display: flex;
        gap: 15px;
        text-align: left;

        img{width: 15px;}
        .service{
            & *{margin-bottom: 5px;}
            a{color: white; text-decoration: underline;}
            h2{margin-bottom: 60px;}
            padding: 1.5em;
            border-radius: 10px;
        }
    }
}